body {
    font-family: 'Arial', sans-serif;
    background-color: #f0fdf4;
    color: #2e3d49;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.medication-schedule {
    max-width: 500px;
    width: 100%;
}

h1 {
    color: #20c997;
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

.medication-list {
    list-style: none;
    padding: 0;
}

.medication-item {
    background-color: #d4f8d4; /* Verde suave */
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    list-style-type: none;
}

.medication-item div {
    margin: 5px 0;
    font-size: 1rem;
    color: #054a0d; /* Verde escuro */
}

.medication-time {
    font-weight: bold;
    color: #117a65;
}

.medication-name {
    flex-grow: 1;
    color: #2e3d49;
}